In [6]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('I am not hungry')

FEED ME!

In [12]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store.")
else:
    print("I do not know much.")

Welcome to the store.

In [14]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')
else: 
    print('What is your name?')

Hello Frankie!

In [15]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [18]:
for num in mylist:
    print('hello {}'.format(num))

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [20]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number {}'.format(num))

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [25]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

SyntaxError: f-string: empty expression not allowed (<ipython-input-25-3c71f46c9e9d>, line 5)

In [26]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [28]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [29]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [30]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [33]:
# Tuple unpacking.
for a,b in mylist:
    #print(a)
    print(b)

2
4
6
8

In [34]:
mylist = [(1,2,3), (5,6,7), (8, 9, 10)]
for a,b,c in mylist:
    print(b)

2
6
9

In [36]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [37]:
for item in d:
    print(item)

k1
k2
k3

In [40]:
for k,v in d.items():
    print(item)
    print("key: {}".format(k))
    print("value: {}".format(v))    
    print()

('k3', 3)
key: k1
value: 1

('k3', 3)
key: k2
value: 2

('k3', 3)
key: k3
value: 3

In [ ]:
x = 0

while x < 5:
    print(f'The curent value of x is {x}')
    x = x + 1

In [45]:
x = 0

while x < 5:
    print(f'The curent value of x is {x}')
    #x = x + 1
    x += 1
else:
    print('X is not less than 5')

The curent value of x is 0
The curent value of x is 1
The curent value of x is 2
The curent value of x is 3
The curent value of x is 4
X is not less than 5

In [48]:
x = [1,2,3]
for item in x:
    # Comment
    pass

print('end of my script')

end of my script

In [51]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [54]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [59]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [60]:
range(0,11)

range(0, 11)

In [61]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [64]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [67]:
word = 'abcde'

for index,letter in enumerate(word):
    print(f'The letter at index {index} is {letter}')

The letter at index 0 is a
The letter at index 1 is b
The letter at index 2 is c
The letter at index 3 is d
The letter at index 4 is e

In [79]:
mylist1 = [1,2,3,4]
mylist2 = ['a', 'b', 'c', 'd']

In [80]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [83]:
'2' in [1,2,3]

False

In [82]:
'x' in ['x', 'y', 'z']

True

In [84]:
'mykey' in {'mykey': 345}

True

In [85]:
d = {'mykey': 345}

In [86]:
345 in d.values()

True

In [87]:
mylist = [10,20,30,40]

In [88]:
min(mylist)

10

In [89]:
max(mylist)

40

In [90]:
from random import shuffle

In [91]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [92]:
shuffle(mylist)

In [93]:
mylist

[8, 3, 2, 5, 4, 9, 7, 6, 10, 1]

In [94]:
from random import randint

In [96]:
randint(0,100)

35

In [98]:
result = input('Enter a number here: ')

Enter a number here: 50

In [99]:
result

'50'

In [100]:
result2 = input('What is your favorite number: ')

What is your favorite number: 50

In [101]:
result2

'50'

In [102]:
type(result2)

str

In [103]:
type(int(result2))

int

In [104]:
mystring = 'hello'

In [105]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [106]:
mylist

['h', 'e', 'l', 'l', 'o']

In [107]:
mylist = [letter for letter in mystring]

In [108]:
mylist

['h', 'e', 'l', 'l', 'o']

In [109]:
mylist = [x for x in 'word']

In [110]:
mylist

['w', 'o', 'r', 'd']

In [111]:
mylist = [x for x in range(1,11)]

In [112]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
mylist = [x for x in range(0,11) if x % 2 == 0]

In [115]:
mylist

[0, 2, 4, 6, 8, 10]

In [116]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [117]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [125]:
mylist = []

In [126]:
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [127]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]