In [1]:
print('hello world')

hello world

In [2]:
print('hello \n world')

hello
 world

In [4]:
print('hello\tworld')

hello	world

In [5]:
len('hello')

5

In [6]:
len('I am')

4

In [7]:
mystring = "Hello World"

In [8]:
mystring

'Hello World'

In [9]:
print(mystring)

Hello World

In [10]:
mystring[0]

'H'

In [11]:
mystring[8]

'r'

In [14]:
mystring[-2]

'l'

In [15]:
mystring

'Hello World'

In [16]:
mystring = 'abcdefghijk'

In [17]:
mystring

'abcdefghijk'

In [19]:
mystring[2:]

'cdefghijk'

In [20]:
mystring

'abcdefghijk'

In [21]:
mystring[:3]

'abc'

In [22]:
mystring[3:6]

'def'

In [23]:
mystring

'abcdefghijk'

In [24]:
mystring[1:3]

'bc'

In [25]:
mystring

'abcdefghijk'

In [27]:
mystring[2:8]

'cdefgh'

In [29]:
mystring[::]

'abcdefghijk'

In [30]:
mystring

'abcdefghijk'

In [32]:
mystring[::3]

'adgj'

In [33]:
mystring[::-1]

'kjihgfedcba'

In [1]:
name = "Sam"
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
'P' + last_letters

'Pam'

In [7]:
x = 'Hello World'

In [8]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [9]:
letter = 'z'

In [10]:
letter * 10

'zzzzzzzzzz'

In [11]:
2 + 3

5

In [12]:
'2' + '3'

'23'

In [13]:
len('2' + '3')

2

In [14]:
x = 'Hello World'

In [15]:
x.upper()

'HELLO WORLD'

In [16]:
x.lower()

'hello world'

In [17]:
x.upper

In [18]:
x.lower()

'hello world'

In [19]:
x.split()

['Hello', 'World']

In [20]:
x = 'Hi this is a string'

In [21]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [22]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [23]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [26]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [27]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [35]:
result = 104.12345

In [29]:
result

0.1287001287001287

In [37]:
print("The result was {r:1.2f}.".format(r=result))

The result was 104.12.

In [38]:
name = "Jose"

In [39]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [42]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [43]:
name = 'Sam'
age = 3

In [44]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [45]:
my_list = [1,2,3]

In [46]:
my_list

[1, 2, 3]

In [47]:
my_list = ['STRING', 100, 23.3]

In [48]:
my_list

['STRING', 100, 23.3]

In [49]:
len(my_list)

3

In [50]:
mylist = ['one', 'two', 'three']

In [51]:
mylist

['one', 'two', 'three']

In [52]:
mylist[0]

'one'

In [53]:
mylist[1:]

['two', 'three']

In [54]:
mylist

['one', 'two', 'three']

In [55]:
another_list = ['four', 'five']

In [56]:
my_list + another_list

['STRING', 100, 23.3, 'four', 'five']

In [57]:
new_list = my_list + another_list

In [58]:
new_list

['STRING', 100, 23.3, 'four', 'five']

In [59]:
new_list = mylist + another_list

In [60]:
new_list

['one', 'two', 'three', 'four', 'five']

In [61]:
new_list[0] = 'ONE ALL CAPS'

In [63]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [64]:
new_list.append('six')

In [65]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [66]:
print(new_list)

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [67]:
new_list.append('seven')

In [68]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [70]:
new_list.pop

In [71]:
new_list.pop()

'seven'

In [72]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [73]:
popped_item = new_list.pop()

In [74]:
popped_item

'six'

In [75]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [76]:
new_list.pop(0)

'ONE ALL CAPS'

In [77]:
new_list

['two', 'three', 'four', 'five']

In [78]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [79]:
new_list.sort()

In [80]:
new_list

['a', 'b', 'c', 'e', 'x']

In [81]:
new_list.sort()
my_sorted_list = new_list

In [82]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [83]:
num_list

[4, 1, 8, 3]

In [84]:
num_list.sort()

In [85]:
num_list

[1, 3, 4, 8]

In [86]:
num_list.reverse()

In [87]:
num_list

[8, 4, 3, 1]

In [88]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [89]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [90]:
my_dict['key1']

'value1'

In [91]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk': 5.80}

In [92]:
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8}

In [93]:
prices_lookup['apple']

2.99

In [94]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [95]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 100}}

In [96]:
d['k2']

[0, 1, 2]

In [97]:
d['k3']['insideKey']

100

In [98]:
d = {'key1': ['a', 'b', 'c']}

In [99]:
d['key1'][2].upper()

'C'

In [100]:
d = {'k1': 100, 'k2': 200}

In [101]:
d['k3'] = 300

In [102]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [103]:
d['k1'] = 'NEW VALUE'

In [104]:
d['k1']

'NEW VALUE'

In [105]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [106]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [107]:
d.values()

dict_values([100, 200, 300])

In [108]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [109]:
t = (1, 2, 3)

In [110]:
mylist = [1, 2, 3]

In [111]:
type(t)

tuple

In [112]:
type(mylist)

list

In [113]:
t

(1, 2, 3)

In [114]:
t = ('one', 2)

In [115]:
t[0]

'one'

In [116]:
t[1] = 'test'

TypeError: 'tuple' object does not support item assignment

In [117]:
t = ('a', 'a', 'b')

In [119]:
t.count('a')

2

In [121]:
t.index('a')

0

In [122]:
t.index('b')

2

In [123]:
t

('a', 'a', 'b')

In [124]:
mylist

[1, 2, 3]

In [125]:
mylist[0] = 'new'

In [126]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [127]:
myset = set()

In [128]:
myset

set()

In [129]:
myset.add(1)

In [130]:
myset

{1}

In [131]:
myset.add(2)

In [132]:
myset

{1, 2}

In [133]:
myset.add(2)

In [134]:
myset

{1, 2}

In [135]:
myset.add(0)

In [136]:
myset

{0, 1, 2}

In [137]:
mylist = [1, 1, 1, 1, 2, 3, 4, 4, 4, 4, 5]

In [138]:
mylist

[1, 1, 1, 1, 2, 3, 4, 4, 4, 4, 5]

In [139]:
set(mylist)

{1, 2, 3, 4, 5}

In [140]:
mylist

[1, 1, 1, 1, 2, 3, 4, 4, 4, 4, 5]

In [141]:
set('Linsenhofen')

{'L', 'e', 'f', 'h', 'i', 'n', 'o', 's'}

In [142]:
true

NameError: name 'true' is not defined

In [143]:
True

True

In [144]:
False

False

In [145]:
type(False)

bool

In [146]:
1 > 2

False

In [147]:
1 == 1

True

In [148]:
b = None

In [149]:
type(b)

NoneType

In [150]:
b

In [151]:
test.txt

NameError: name 'test' is not defined

In [178]:
%%writefile my_new_file.txt
Hello this is a text file
this is the second line
this is the third line

Writing my_new_file.txt

In [153]:
myfile = open('woos.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'woos.txt'

In [154]:
myfile = open('myfile.txt')

In [155]:
pwd

'/Users/danielhanold/dev/Complete-Python-3-Bootcamp/00-Python Object and Data Structure Basics'

In [156]:
myfile

In [157]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [159]:
myfile.seek(0)

0

In [160]:
myfile.readable()

True

In [161]:
myfile

In [162]:
myfile.seek(0)

0

In [163]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [164]:
myfile.seek(0)

0

In [165]:
lines = myfile.readlines()

In [166]:
for i in lines:
    print(i)

Hello this is a text file

this is the second line

this is the third line

In [167]:
pwd

'/Users/danielhanold/dev/Complete-Python-3-Bootcamp/00-Python Object and Data Structure Basics'

In [168]:
myfile.close()

In [169]:
myfile = open('myfile.txt')

In [170]:
myfile.close()

In [171]:
with open('myfile.txt') as my_new_file:

SyntaxError: unexpected EOF while parsing (<ipython-input-171-4670d573d5a8>, line 1)

In [173]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [174]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [177]:
with open('myfile.txt', mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [180]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line

In [181]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [182]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

Hello this is a text file
this is the second line
this is the third line
FOUR ON FOURTH

In [183]:
with open('dfdfdfdfdfdf.txt', mode='w') as f:
    f.write('i created this file')

In [185]:
with open('dfdfdfdfdfdf.txt', mode='r') as f:
    print(f.read())

i created this file